body:before {
  position: absolute;
  content: " ";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 110%;
  top: -10%;
  left: 0;
  z-index: 1;
}

@keyframes lazyAppear {
  from {
    bottom: -5%;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
article {
  position: relative;
  background-color: #003C6B;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
article section {
  padding: 8em 5vw 20vh 5vw;
  font-size: 18px;
  overflow: scroll;
  height: 100vh;
  color: white;
}
article section p {
  margin-bottom: 0.5em;
}
article section h1, article section h2, article section h3, article section h4, article section h5, article section h6 {
  color: inherit;
  font-weight: bold;
  position: relative;
  z-index: 2;
}
article section h1 {
  font-size: 3em;
  margin-bottom: 1em;
}
article section h2 {
  font-size: 2.5em;
}
article section h3 {
  font-size: 2em;
}
article section h4 {
  font-size: 1.5em;
  margin-bottom: 0.3em;
}
article section .currency {
  display: inline-block;
  padding: 2em 3em 2em 1.5em;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  margin-bottom: 3em;
}
article section .currency .title {
  margin-bottom: 1em;
}
article section .currency .score {
  word-break: keep-all;
}
article section .currency p {
  margin: 0;
}
article section .introduction {
  animation-delay: 1.8s;
}
article section .benefits {
  animation-delay: 1.9s;
}
article section .background {
  animation-delay: 2s;
}
article section .introduction, article section .benefits {
  position: relative;
  z-index: 2;
}
article section > * {
  opacity: 0;
  animation-name: lazyAppear;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
article section .benefits {
  width: 50%;
  padding: 2em 0;
  border-radius: 5px;
}
article section .benefits p {
  margin: 0;
  padding-bottom: 1em;
}
article section .benefits li {
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-color: white;
  position: relative;
  z-index: 1;
  padding: max(1em, 3vw) max(1em, 2vw);
  width: 100%;
  margin-bottom: 1em;
  color: black;
}
article section .benefits li h4 {
  margin-bottom: 1em;
}
article section .benefits li p {
  padding: 0;
}
article section .benefits li:last-of-type {
  margin: 0;
}
article section p {
  line-height: 1.5em;
  margin-bottom: 0.5em;
  position: relative;
  z-index: 2;
}
article section > p {
  max-width: 50%;
}
article section .background {
  position: absolute;
  max-width: 50vw;
  right: 0;
  bottom: -3em;
  padding: 0 0.5em;
  text-align: center;
}
article section .background img {
  filter: brightness(80%);
  position: relative;
  width: calc(50% - 1em);
}
article section .background img.example1 {
  top: -3em;
  margin-right: 1em;
}
article section .background img.example2 {
  top: -6em;
}

@keyframes slideUp {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
footer {
  animation-name: slideUp;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  width: 100%;
  background-color: #eee;
  padding: min(5vw, 2em) 1em;
  position: fixed;
  z-index: 3;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
footer p {
  margin-bottom: 1em;
  line-height: 1.3em;
}
footer form {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  font-size: 18px;
}
footer form fieldset {
  width: 100%;
  margin-right: 1em;
}
footer form input {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  font-size: 24px;
  border: 0;
  padding: 0.5em;
  margin-right: 0.3em;
}
footer form input, footer form button {
  font-size: inherit;
}
footer form button {
  width: 10em;
}

@media all and (min-width: 1024px) {
  article section .background {
    max-width: 50%;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  article section .benefits {
    width: 100%;
  }
  article section p {
    max-width: 100%;
  }
  article section .background {
    max-width: 100%;
    height: 100%;
    padding-top: 30%;
    z-index: 0;
  }
  article section .background img {
    filter: brightness(50%);
  }
}
@media all and (max-width: 767px) {
  body:before {
    background-color: rgba(0, 60, 107, 0.8);
  }
  article section {
    padding-top: 30%;
    font-size: 11px;
  }
  article section .benefits {
    width: 100%;
  }
  article section p {
    font-size: 14px;
    margin-bottom: 1em;
    max-width: 100%;
  }
  article section .background {
    max-width: 100%;
    height: 100%;
    z-index: 0;
  }
  article section .background img.example1 {
    display: none;
  }
  article section .background img.example2 {
    top: -2em;
    width: 100vw;
    transform: scale(1.1, 1.1);
  }
  footer form {
    font-size: 14px;
  }
}

/*# sourceMappingURL=contact.css.map */
