{% extends "base.jinja2" %}

{% block head_script %}
{% endblock %}

{% block head_style %}
    <link href="{% static "css/nanumgothic.css" %}" rel="stylesheet">
    <link href="{% static "css/pretotype/base.css" %}" rel="stylesheet">
    <link href="{% static "css/pretotype/contact.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <a class="logo"><img src="{% static "images/logo.png" %}" alt="다윗 로고"/></a>
    </header>
    <article>
        <section></section>
    </article>
{% endblock %}

{% block body_script %}
    <script>
    </script>
{% endblock %}
