{% extends "base.jinja2" %}

{% block head_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.6.2/countUp.umd.min.js"
            integrity="sha512-6ui6AZ7LkvcVVrr0VxsLVIFfnsI6mPTYS6BKLnigikOSWlkfr74fH+U4lY2trBFXTUGI0IpNxgxnoVNmFHczog=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block head_style %}
    <link href="{% static "css/nanumgothic.css" %}" rel="stylesheet">
    <link href="{% static "css/pretotype/base.css" %}" rel="stylesheet">
    <link href="{% static "css/pretotype/contact.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <a href="/" class="logo"><img src="{% static "images/logo.png" %}" alt="다윗 로고"/></a>
    </header>
    <article>
        <section>
            <h1>다윗: 작은이들의 외침</h1>
            <div class="currency">
                <h5 class="title">받을 수 있는 금액은 ... !!!</h5>
                <h2 class="score"><span>4,220</span> 원 <small>(1달 보유 기준)</small></h2>
                <p><small><small>위 금액은 예시 금액으로, 실제 종목의 시가총액과 보유량에 따라 금액은 다를 수 있습니다.</small></small></p>
            </div>
            <div class="introduction">
                <p>
                    저는 '다윗' 이에요!, 세상에 나가기 전에 여러분이 주시는 관심을 먹고 무럭무럭 크는 중이랍니다 ❤️<br/>
                    지금은 볼 수 없지만, 곧 여러분에게 찾아갈 거에요. 앞으로 계획하고 있는게 많답니다!<br/>
                </p>
                <p>다윗은 여러분들께 이런 것들을 제공해드리려 해요~</p>
            </div>
            <ul class="benefits">
                <li>
                    <h4>새로운 수익화 플랫폼</h4>
                    <p>
                        주주 여러분이 매수한 주식에는 '의결권' 이라는 권리가 붙어있어요. 이 의결권을 가지고 있는 것 만으로 의결권 수에 비례해서 포인트를 드릴 예정이에요!<br/><br/>
                        포인트는 블록체인 기술을 활용한 이더리움 ERC-20 토큰으로 표현되며 이로써 새로운 수익화 시장을 만들어드릴 계획이에요
                    </p>
                </li>
                <li>
                    <h4>주주 커뮤니티</h4>
                    <p>주식보유를 하여 주주임을 인증한 사람들을 종목 업종별로 모아 채팅, 게시판, 투표 등 함께 즐길 수 있는 콘텐츠가 가득한 커뮤니티를 제공해드려요!</p>
                </li>
                <li>
                    <h4>더 많은 행동주의 캠페인</h4>
                    <p>올바른 경영, 주주 환원정책 등을 담은 펀딩형 주주제안 등 여러분들의 주주권리와 행동주의를 지원해드릴거에요~! 당연히 캠페인을 진행하면 더 많은 포인트도 기대할 수
                        있겠죠!</p>
                </li>
                <li><p>그 이외에도 주주분들을 위한 기능들을 열심히 준비하고 있어요 !!!</p></li>
            </ul>
            <div class="background">
                <img class="example1" src="{% static "images/pretotype/example1.png" %}" alt="예시 이미지 1"/>
                <img class="example2" src="{% static "images/pretotype/example2.png" %}" alt="예시 이미지 2"/>
            </div>
        </section>
    </article>
    <footer>
        <form id="subscribe">
            <fieldset>
                <p>메일주소만 알려주시면 다윗에 대한 더 자세한 자료를 보내드려요.<br/>출시 후 <strong>사용할 수 있는 포인트</strong>도
                    바로
                    적립해드릴게요!!!</p>
                <input type="email" name="email" placeholder="name@example.com"/>
            </fieldset>
            <button type="submit">포인트 <br class="m"/>받기!</button>
        </form>
    </footer>
{% endblock %}

{% block body_script %}
    <script>
        $(function () {
            const countTarget = document.querySelector('.score > span');
            const startCount = (el) => {
                const countNum = Math.random() * (10000 - 5000) + 5000;
                const counter = new countUp.CountUp(el, countNum, {
                    onCompleteCallback: () => setTimeout(() => startCount(el), 1000)
                });
                counter.start();
                return counter;
            }
            startCount(countTarget);

            $("form#subscribe").on("submit", function (e) {
                e.preventDefault();

                const $emailInput = $(this).find('input[name=email]');
                $emailInput.attr("readonly", true);

                $.ajax({
                    type: "POST",
                    url: "/api/subscription",
                    data: {
                        "email": $emailInput.val(),
                        "referer": "{{ request.GET.get("r", "direct") }}"
                    }
                }).done(() => {
                    this.reset();
                    alert('다윗에게 관심을 가져주셔서 감사합니다! 곧 입력해주신 이메일로 자료와 함께 인사드리겠습니다 !!');
                }).fail((e) => {
                    switch (parseInt(e.status / 100)) {
                        case 4:
                            alert("입력한 내용을 확인 후 다시 시도해주세요.");
                            break;
                        case 5:
                            alert("서버가 정상적으로 응답하지 않습니다.");
                            break;
                        default:
                            alert("알 수 없는 오류가 발생했습니다.")
                            break;
                    }
                }).always(() => {
                    $emailInput.removeAttr("readonly");
                })
                return false;
            });
        });
    </script>
{% endblock %}
