{% extends "base.jinja2" %}

{% block title %}주식 맡기고 용돈벌자!{% endblock %}

{% block head_script %}
    <script src="https://unpkg.com/pageable@latest/dist/pageable.min.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
{% endblock %}

{% block head_style %}
    <link href="{% static "css/nanumgothic.css" %}" rel="stylesheet">
    <link href="{% static "css/pretotype/base.css" %}" rel="stylesheet">
    <link href="{% static "css/pretotype/landing.css" %}" rel="stylesheet">
    <link href="https://unpkg.com/pageable@latest/dist/pageable.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <a class="logo" href="#section-1"><img src="{% static "images/logo.png" %}" alt="다윗 로고"/></a>
    </header>
    <article id="full-page">
        <section id="section-1" data-anchor="Section 1">
            <h1>내가 사기만 하면<br/>떨어지는 주식...</h1>
            <div class="background">
                <p>어쩔 수 없이 존버는 해야겠고,<br/>묶여있을 피같은 돈에 내 속만 탄다!</p>
                <img src="{% static "images/pretotype/section1_img.png" %}"/>
            </div>
        </section>
        <section id="section-2" data-anchor="Section 2">
            <h1>가지고만 있어도<br/>돈을 주는 주식?</h1>
            <div class="background">
                <p>묶인줄만 알았던 주식이<br/>나 대신 돈을 벌어다 줬네??</p>
                <img src="{% static "images/pretotype/section2_img.png" %}"/>
            </div>
        </section>
        <section id="section-3" data-anchor="Section 3">
            <h1>주식으로 돈도벌고<br/>내 권리도 챙기자!</h1>
            <div class="background">
                <p>100주 맡기고<br/>100,000 원!</p>
                <img src="{% static "images/pretotype/section3_img.png" %}"/>
            </div>
        </section>
    </article>
    <footer>
        <button data-href="./contact?r={{ request.GET.get("r", "direct") }}">받을 수 있는 금액 확인하기</button>
    </footer>
{% endblock %}

{% block body_script %}
    <script>
        let pgb = undefined;
        const doType = (el, contents) => {
            return new Typed(el, {
                strings: contents,
                typeSpeed: 100,
                showCursor: false,
                cursorChar: '|',
            });
        }

        $(function () {
            pgb = new Pageable("#full-page", {
                onScroll: (obj) => {
                    if (pgb === undefined) return;

                    const el = pgb.pages[obj.index];
                    const titleEl = el.querySelector("h1");
                    let contents = [];
                    if (el.typed) {
                        contents = el.typed.options.strings
                        el.typed.destroy();
                    } else contents = [titleEl.innerHTML];

                    el.typed = doType(titleEl, contents);
                }
            });

            $('a[href^="#"]').each((idx, el) => {
                $(el).on('click', function (e) {
                    e.preventDefault();

                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
        });

        $("button[data-href]").click((e) => {
            location.href = e.currentTarget.dataset.href;
        });
    </script>
{% endblock %}
