<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WW6LP340BX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-WW6LP340BX');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{% block title %}다윗: 작은 이들의 외침{% endblock %}</title>
    <style>
        html, body {
            padding: 0;
            margin: 0;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    {% block head_script %}{% endblock %}
    {% block head_style %}{% endblock %}

    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">

    <meta property="og:title" content="다윗: 작은 이들의 외침">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://dawith.us">
    <meta property="og:image" content="{% static "img/logo_ait_sq.jpg" %}">
    <meta property="og:description"
          content="소수주주들의 주식 보유 현황을 포함한 마이데이터 기반하여 실효성이 있는 데이터를 활용, 주식의 의결권에 대치되는 토큰을 발급하여 권리행사와 추가 수익창출을 지원하는 주주행동주의 플랫폼">

    <link rel="manifest" href="{% static "site.webmanifest" %}">
    <link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}">
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
</head>
<body>
{% block body %}{% endblock %}
{% block body_script %}{% endblock %}
</body>
</html>
